.right-answer {
    font-weight: bolder;
    background-color: rgb(168, 215, 199);
}

.selected-answer {
    border: rgb(159, 144, 144) 1px dashed;
    border-radius: 2px;
}

.responder, .current-score, .question-stats {

    margin-top: 25px;
    height: 100px;
    margin-bottom: 25px;
    background-color: lightgray;
}

.responder {
   text-align: center;
   font-size: 20px;
   font-weight: bolder;
   
}

#time-left {
    height: 320px;
    font-size: 40px;
    font-weight: bold;
    color: lightgray;
    padding: 40px;
    background-color: rgb(45, 43, 43);
}
.timer-box {
    background-color: rgb(45, 43, 43);
}

#question {
    font-size: 30px;
    font-weight: bolder;

}

#a, #b, #c, #d {
    font-size: 22px;
    padding: 5px;
}

.container-fluid {
    background-image: url("../images/space.jpg");
    height: 800px;
    
}